<!DOCTYPE html>
<!--[if IE 8]><html class="ie8"><![endif]-->
<!--[if IE 9]><html class="ie9"><![endif]-->
<!--[if gt IE 9]><!-->
<html lang="en_US" ng-app="timekeeperApp">
<!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <title>Red Hat Consulting Services - Partner timekeeper</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="img/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="img/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="img/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="img/apple-touch-icon-57-precomposed.png">
    
    <link href="css/rcue.css" rel="stylesheet" media="screen, print">
    <link href="css/rcue-additions.css" rel="stylesheet" media="screen, print">
    <link href="css/smoothness/jquery-ui-1.10.3.custom.min.css" rel="stylesheet">
    
    <script src="js/lib/jquery.min.js"></script>
    <script src="js/lib/jquery-ui-1.10.3.custom.min.js"></script>
    <script src="js/lib/jquery.mask.min.js"></script>
    <script src="js/lib/bootstrap.min.js"></script>
    <script src="js/lib/angular.js"></script>
    <script src="js/lib/angular-resource.min.js"></script>
    <script src="js/lib/angular-route.min.js"></script>
    <script src="js/lib/patternfly.min.js"></script>
    <script src="js/lib/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="js/lib/angular-validation-match.min.js"></script>
    
    <script src="js/services.js"></script>
    <script src="js/login-app.js"></script>
    <script src="js/app.js"></script>
    <script src="js/org.js"></script>
    <script src="js/person.js"></script>
    <script src="js/project.js"></script>
    <script src="js/timecard.js"></script>

  </head>
  <body>
    <nav class="navbar navbar-default navbar-pf" role="navigation">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">
          <img src="img/brand.svg" alt="Red Hat&reg; Common User Experience" />
        </a>
      </div>
      <div class="collapse navbar-collapse navbar-collapse-1" ng-controller="menu_ctrl">

        <ul class="nav navbar-nav navbar-primary">
          <li><a href="#/persons" ng-show="role(['redhat_manager', 'admin'])">Consultant</a></li>
          <li><a href="#/organizations" ng-show="role(['redhat_manager', 'admin'])">Organization</a></li>
          <li><a href="#/projects" ng-show="role(['redhat_manager', 'admin'])">Project</a></li>
          <li><a href="#/projects-cs" ng-show="role(['partner_consultant'])">Project</a></li>
          <li><a href="#/timecards" ng-show="role(['redhat_manager', 'admin'])">Timecard</a></li>
          <li><a href="#/timecards-cs" ng-show="role(['partner_consultant'])">Timecard</a></li>
          <li><a href="#/profile/{{user.id}}">{{user.name}}</a></li>
          <li><a href="#/" ng-click="logout()">Logout</a></li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
      
        <div class="alert alert-warning" ng-controller="message_ctrl" ng-show="hasMessages()">
            <span class="pficon-layered">
              <span class="pficon pficon-warning-triangle"></span>
              <span class="pficon pficon-warning-exclamation"></span>
            </span>
            <ul>
                <li ng-repeat="message in messages">{{message}}</li> 
            </ul>
        </div>
      
        <div ng-view class="col-md-12">
        </div><!-- /col -->
      </div><!-- /row -->
    </div><!-- /container -->
    
  </body>
</html>