<script src="js/lib/jquery.dataTables.js"></script>
<h1>Organizations</h1>

<a href="#/organization-new">Add a organization</a>

<div class="table-responsive">
    <table class="table table-striped table-bordered table-hover" ng-controller="org_listing_ctrl" ng-cloak>
        <thead>
            <tr>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="org in orgs">
                <td style="vertical-align: middle;"><a ng-href="#/organization/{{org.id}}">{{org.name}} {{org.enabled === true ? "" : "(DISABLED)"}}</a></td>
                <td style="vertical-align: middle;">
                    <a class="btn btn-default" ng-show="org.enabled" ng-click="disable(org.id)">Disable</a> 
                    <a class="btn btn-default" ng-show="!org.enabled" ng-click="enable(org.id)">Enable</a>
                    <a class="btn btn-danger" ng-show="org.persons.length == 0" ng-click="delete(org.id)">Delete</a>
                </td>
            </tr>
        </tbody>
    </table>
</div>
