<h1>New project</h1>

<form class="form-horizontal">
    <div class="form-group">
        <label for="prj_name" class="col-md-2 control-label">Project name</label>
        <div class="col-md-2">
            <input type="text" class="form-control" required ng-model="project.name">
        </div>
    </div>
    <div class="form-group">
        <label for="prj_desc" class="col-md-2 control-label">Project description</label>
        <div class="col-md-2">
            <textarea class="form-control" rows="3" ng-model="project.description" maxlength="512"></textarea>
        </div>
    </div>
    <div class="form-group">
        <label for="prj_pa_number" class="col-md-2 control-label">PA Number</label>
        <div class="col-md-1">
            <input type="text" class="form-control" required ng-model="project.paNumber">
        </div>
    </div>
    <div class="form-group">
        <label for="prj_pm" class="col-md-2 control-label">Project manager</label>
        <div class="col-md-2">
            <select class="form-control" required ng-model="project.projectManager.id" ng-options="pm.id as pm.name for pm in pms">
            </select>
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="checkbox">
                <label> <input type="checkbox" ng-model="project.enabled"> Enable project to people assing working hours ?
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-md-2 control-label">Start date</label>
        <div class="col-md-2">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="project.initialDate" is-open="opened"
                    ng-required="true" close-text="Close" datepicker-options="dateOptions"/> 
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
    </div>
    <div class="form-group">
        <label for="inputEmail3" class="col-md-2 control-label">End date</label>
        <div class="col-md-2">
            <p class="input-group">
                <input type="text" class="form-control" datepicker-popup="{{format}}" ng-model="project.endDate" is-open="opened2"
                    ng-required="true" close-text="Close" datepicker-options="dateOptions"/> 
                <span class="input-group-btn">
                    <button type="button" class="btn btn-default" ng-click="open2($event)">
                        <i class="glyphicon glyphicon-calendar"></i>
                    </button>
                </span>
            </p>
        </div>
    </div>
    <div class="form-group">
        <label for="prj_consultants" class="col-md-2 control-label">Consultants</label>
        <div class="col-md-2">
            <select class="form-control" ng-model="temp_consultant"
                ng-options="consultant.name + ' - ' + consultant.partnerOrganization.name for consultant in consultants">
            </select>
        </div>
        <button type="button" class="btn btn-primary" ng-click="add_consultant()">Add consultant</button>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <div class="com-sm-2">
                <label> Selected consultants:</label>
                <ul>
                    <li data-ng-repeat="c in selected_consultants">{{c.name}} - {{c.partnerOrganization.name}} - <a href=""
                        ng-click="remove_consultant(c)">Remove</a></li>
                </ul>

            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <button type="submit" class="btn btn-primary" ng-click="project_submit(project)">Save</button>
        </div>
    </div>
</form>

<a class="btn btn-default" href="#/projects">Go to main project list page.</a>
